@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $BA-font;
  font-family: "OpenSans";
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
}
