@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.virtual-tour-header {
  background: rgba(217, 217, 217, 0.8);
  @include flex(space-around);
  z-index: 30;
  position: relative;
  top: 5rem;
  width: 90%;
  margin: 0 auto;
  border-radius: 5rem;
  &__stat {
    @include flex(center, center, column);
  }

  &__header {
    font-weight: 400;
    font-size: 1.1rem;
  }

  &__text {
    font-size: 1.6rem;
    color: $BA-blue;
  }

  &__logo {
    position: relative;
    bottom: 5rem;
  }
}
